<div class="main-evaluador">
<div class="barra-evaluador">
    <p class="letra-barra-evaluador">Editar Evaluador</p>
 </div>

<%= render 'form', evaluator: @evaluator %>

<!-- footer -->
  <footer class="page-footer indigo darken-4">
         <div class="footer-copyright indigo darken-3">
            <div class="container center center-on-small-only">
           2016 Contento, Hern&aacutendez, Mart&iacutenez, Torres
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>      
<!-- /footer -->
</div>