<h1>Editing Investigation Project</h1>

<%= render 'form', investigation_project: @investigation_project %>

<%= link_to 'Show', @investigation_project %> |
<%= link_to 'Back', investigation_projects_path %>
