<div id="editar ui" class="container">
<h3 class = "container center-align indigo-text darken-3-text">Editando Unidad de Investigación</h3>

<%= render 'form', research_unit: @research_unit %>

<%= link_to 'Visualizar', @research_unit %> |
<%= link_to 'Regresar', research_units_path %>
</div>