<h1 class = "center-align indigo-text darken-3-text">Nueva Unidad de Investigación</h1>
<div class="container center-align col s12 m6 grey lighten-4">
<%= render 'form', research_unit: @research_unit %>

<%= link_to 'Regresar', research_units_path %>
</div>
