<div id="" class="container">
<div>

</div>

<h3 class = "container center-align indigo-text darken-3-text">Editando Área de Investigación</h3>
    
<%= render 'form', investigation_area: @investigation_area %>

<!--
<%= link_to 'Ver', @investigation_area %> |
<%= link_to 'Regresar', investigation_areas_path %>-->
</div>
</div>
