<h1 class = "center-align indigo-text darken-3-text">Nueva área de Investigación</h1>

<div class="container center-align col s12 m6 grey lighten-4">
<%= render 'form', investigation_area: @investigation_area %>
<a  type="button" class="btn btn-regresar waves-effect waves-light blue-grey lighten-3 indigo-text darken-2-text" style="top: 10px; font-size: 11px; text-rendering: 200px;" >Atrás<i class="material-icons left">replay</i></a>
<%= link_to 'Regresar', investigation_areas_path %>
</div>